@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";
@import "./base/base";
@import "./base/typography";
@import "./components/buttons";
@import "./layouts/header";
@import "./layouts/footer";
@import "./pages/accueil";

main {
  display: flex;
  flex-direction: column;
}
.restaurants {
  background-color: $colour-nuanceclair;
  display: flex;
  flex-direction: column;
}

.fa-utensils {
  font-size: 0.8em; /*taille icone foucherte */
}
.fa-hands-helping {
  font-size: 0.8em; /*taille icone partenaire */
}
.Fonctionnement {
  display: flex;
  display: block;
  flex-direction: column;
  text-align: center;
}

.Fonctionnement__btn {
  border-radius: 25px;
  text-align: center;
  width: 80%;
  margin: auto;
  margin: 20px 20px;
  padding: 2em;
  margin-bottom: 20px;
  box-shadow: 2px 2px 2px $colour-nuancefonce;
  display: flex;
  flex-direction: row;
}

.Fonctionnement__btn-color {
  background: lighten($colour-nuancefonce, 5%);
}

.Fonctionnement__btn-color2 {
  background: lighten($colour-primary, 35%);
}
.Fonctionnement__btn_chiffre {
  background-color: darken($colour-primary, 20%);
  padding: 1em;
  border-radius: 50%;
  color: white;
}
.fonctionnement__btn-placement {
  position: absolute;
  left: -3em;
}
.fas fa-list-ul {
  border: solid 2px purple;
}
.Fonctionnement__btn p {
  display: flex;
  flex-direction: row;

  position: relative;
  width: 90%;
  margin: auto;
}
.Fonctionnement__btn_chiffre {
  height: auto;
}
.fa-mobile-alt {
  font-size: 2em;
}

.restaurants__card {
  position: relative;
  height: 430px;
}
.restaurants__card__image img {
  position: absolute;
  z-index: 1;
}

.restaurants__card__image2 img {
  position: absolute;
  z-index: 1;
  max-height: 250px;
}

.restaurants__card img {
  position: relative;
  height: 55%;
  width: 95%;
  margin-top: 0em;
  margin-bottom: 0em;
  padding: 0;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  border: solid black 1px;
}
.restaurants__card__nouveau {
  position: absolute;
  top: 2px;
  right: 20px;
  width: 5em;
  height: 2em;
  z-index: 2;
  font-size: 200%;
}
.restaurants__card__nouveau__texte {
  font-size: 1em;
  width: 10;
  height: 10;
  background-color: $colour-tertiaire;
  color: darken($colour-tertiaire, 40);
  font-weight: bold;
  border-radius: 4%;
}
.restaurants__bas {
  display: flex;
  flex-direction: row;
  margin-top: 0em;
  height: 25%;
  width: 95%;
  border: solid purple 2px;
  margin: auto;
}
.restaurants__bas__gauche {
  border: solid blue 1px;
  width: 79%;
}
.restaurants__bas__coeur {
  border: solid yellowgreen 1px;
  width: 19%;
}

.fa-list-ul,
.fa-mobile-alt {
  font-size: 2em;
  color: lighten($colour-footer, 20%);
}

.fa-store {
  color: $colour-primary;
  font-size: 2em;
}
.fa-heart {
  font-size: 1em;
}

.header__img--menu {
  z-index: 1;
  max-height: 250px;
  width: 100%;
  border: solid black 2px;
  margin: 0.2em 0;
}

.header__titre {
  z-index: 2;
  top: 8em;
  border-radius: 2em 2em 0 0;

  margin-top: -1.8em;
  padding-top: 1em;
  background-color: white;

  width: 100%;
}
.header__img--box {
  display: flex;
  flex-direction: column;
}
main {
  text-align: left;
}
