@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";
@import "./base/base";
@import "./base/typography";
@import "./components/buttons";
@import "./layouts/header";
@import "./layouts/footer";
@import "./pages/accueil";
@import "./utils/animation";

:active {
  text-decoration: none;
}
:visited {
  text-decoration: none;
}
:link {
  text-decoration: none;
}

a {
  text-decoration: none;
}

body {
  color: black;
  z-index: 0;
}

main {
  display: flex;
  flex-direction: column;
}
.restaurants {
  background-color: $colour-restaurants-font;
  display: flex;
  flex-direction: column;
}

.fa-utensils {
  font-size: 0.8em; /*taille icone foucherte */
}
.fa-hands-helping {
  font-size: 0.8em; /*taille icone partenaire */
}
.Fonctionnement {
  display: flex;
  display: block;
  flex-direction: column;
  text-align: center;
  background-color: $colour-plat__card--fond;
}

.Fonctionnement__btn1 {
  border-radius: 25px;
  text-align: center;
  width: 80%;
  margin: auto;

  box-shadow: 2px 2px 2px $colour-nuancefonce;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.Fonctionnement__btn2 {
  border-radius: 25px;
  text-align: center;
  width: 80%;

  box-shadow: 2px 2px 2px $colour-nuancefonce;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 5em;
  right: 0;
  left: 0;
}
.Fonctionnement__btn3 {
  border-radius: 25px;
  text-align: center;
  width: 80%;

  box-shadow: 2px 2px 2px $colour-nuancefonce;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 10em;
  right: 0;
  left: 0em;
}

.Fonctionnement__btn-color {
  background: lighten($colour-nuancefonce, 5%);
  margin: auto;
  margin-bottom: 1em;
}

.Fonctionnement__btn-color2 {
  background: lighten($colour-primary, 35%);
  margin: auto;
  margin-bottom: 1em;
}
.Fonctionnement__btn__chiffre {
  background-color: darken($colour-primary, 20%);
  padding: 0.5em;
  border-radius: 50%;
  color: white;
  height: auto;
  margin-left: -1em;
}

.Fonctionnement__btn-placement {
  position: relative;
  left: -0.08em;
}

.Fonctionnement__btn__p {
  font-weight: bold;
  font-size: larger;
  text-align: center;
  color: black;
  white-space: nowrap; /*http://patatos.over-b.com/article-comment-eviter-un-retour-a-la-ligne-en-css-102725385.html*/
  position: absolute;
  left: 3em;
}
.Fonctionnement__block {
  border-radius: 25px;
  text-align: center;
  width: 100%;
  margin: auto;
  height: 15em;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;

  position: relative;
}

.restaurants__card {
  position: relative;
  background-color: white;
  margin: auto;
  border-radius: 20px 20px 20px 20px;
  width: 90%;
  height: 90%;
  margin-bottom: 2em;
  box-shadow: 1px 1px 10px $restaurants__card-shad;
}
.restaurants__card__image img {
  position: absolute;
  margin: auto;
  z-index: 1;
}

.restaurants__card__image2 img {
  position: absolute;
  z-index: 1;
  max-height: 250px;
  margin-left: auto;
  margin-right: auto;
}

.restaurants__card img {
  position: relative;
  height: 55%;
  width: 100%;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurants__card__nouveau {
  position: absolute;
  top: 2px;
  right: 18px;
  width: 3em;
  height: 2em;
  z-index: 2;
  font-size: 200%;
}
.restaurants__card__nouveau__texte {
  font-size: 0.6em;
  text-align: center;
  width: 5em;
  height: 2em;
  line-height: 2em; /*doit etre de la meme grandeur que height pour centre verticalement*/
  background-color: $colour-tertiaire;
  color: darken($colour-tertiaire, 40);
  font-weight: bold;
  border-radius: 6%;
}
.restaurants__bas {
  display: flex;
  flex-direction: row;
  margin-top: 0em;
  height: 25%;
  width: 95%;

  margin: auto;
}
.restaurants__bas__gauche {
  width: 79%;
}
.black {
  color: black;
  &:hover {
    color: black;
  }
  &:active {
    color: black;
  }
  &:link {
    color: black;
  }
}

.restaurants__bas__coeur {
  width: 19%;
}

.fa-list-ul,
.fa-mobile-alt {
  font-size: 1.2em;
  color: lighten($colour-footer, 20%);
  position: relative;
  top: 1em;
  left: 0.7em;
}

.fa-store {
  color: $colour-primary;
  font-size: 1.2em;
  position: relative;
  top: 1em;
  left: 0.7em;
}

.header__img--menu {
  z-index: 1;
  max-height: 250px;
  width: 100%;
  margin: 0 0;
  padding: 0 0;
  background-color: $colour-bordure1;
}

.header__titre {
  z-index: 2;
  top: 8em;
  border-radius: 2em 2em 0 0;

  margin-top: -1.8em;
  padding-top: 1em;
  background-color: $colour-plat__card;

  width: 100%;
}
.header__img--box {
  display: flex;
  flex-direction: column;
}
main {
  text-align: left;
}

.carrevert {
  height: 0.3em;
  width: 3.5em;
  background-color: $colour-tertiaire;
  margin-left: 1.8em;
  margin-bottom: 0.5em;
}

.plat__card {
  border-radius: 20px;
  text-align: left;
  padding: 0;
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  box-shadow: 3px 3px 3px $colour-footer;
  background-color: $colour-plat__card--fond;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;

  &:hover {
    cursor: pointer;
    transition-duration: 0;
  }
}

.main__menu {
  margin-top: -1.4em;
  background-color: $colour-plat__card;
}
.espace__gauche_titre_H2 {
  margin-left: 1.3em;
}
.main__menu__argent {
  right: 1em;
  font-weight: bold;
  padding-right: 1.8em;
}

.overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.plat__card__p {
  display: flex;
  direction: row;
  overflow: hidden;
}

.plat__card__p p {
  padding: 2px 5px;
  /* Nécessaires pour overflow-ellipsis */
  white-space: nowrap;
  overflow: hidden;
}

.plat__card__p h2 {
  padding: 2px 5px;
  /* Nécessaires pour  overflow-ellipsis */
  white-space: nowrap;
  overflow: hidden;
}
.point {
  overflow: hidden;
}
.point2 {
  overflow: hidden;
}

.Fonctionnement h1 {
  margin-left: 1em;
}
.restaurants h1 {
  margin-left: 1em;
}

.roboto--font {
  margin: 0;
}
