@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";
@import "./base/base";
@import "./base/typography";
@import "./components/buttons";
@import "./layouts/header";
@import "./layouts/footer";
@import "./pages/accueil";

a{
  text-decoration: none;
} 

main {
  display: flex;
  flex-direction: column;
}
.restaurants {
  background-color: $colour-nuanceclair;
  display: flex;
  flex-direction: column;
}

.fa-utensils {
  font-size: 0.8em; /*taille icone foucherte */
}
.fa-hands-helping {
  font-size: 0.8em; /*taille icone partenaire */
}
.Fonctionnement {
  display: flex;
  display: block;
  flex-direction: column;
  text-align: center;
}

.Fonctionnement__btn {
  border-radius: 25px;
  text-align: center;
  width: 80%;
  margin: auto;
  margin: 9px 9px;
  padding: 0.5em;
  margin-bottom: 20px;
  box-shadow: 2px 2px 2px $colour-nuancefonce;
  display: flex;
  flex-direction: row;
}

.Fonctionnement__btn-color {
  background: lighten($colour-nuancefonce, 5%);
  margin:auto;
  margin-bottom: 1em;
}

.Fonctionnement__btn-color2 {
  background: lighten($colour-primary, 35%);
  margin:auto;
  margin-bottom: 1em;
}
.Fonctionnement__btn__chiffre {
  background-color: darken($colour-primary, 20%);
  padding:0.5em;
  border-radius: 50%;
  color: white;
  height: auto;
  margin-left:-1em;
  }


.fonctionnement__btn-placement {
  position: absolute;
  left: -1em;
}

.Fonctionnement__btn p {
  display: flex;
  flex-direction: row;
  white-space: nowrap;          /*http://patatos.over-b.com/article-comment-eviter-un-retour-a-la-ligne-en-css-102725385.html*/
  position: relative;

  width: 90%;
  margin:auto;
  height: 2em;
  left:0.5em;
  line-height: 2em;/*https://www.journaldunet.fr/web-tech/developpement/1202779-comment-obtenir-un-texte-aligne-verticalement-au-milieu-d-une-div */
}
.Fonctionnement__btn__p p{
  font-weight: bold;
  font-size: larger;
  text-align: center;
  color:black;
}

.fa-mobile-alt {
  font-size: 2em;
}

.restaurants__card {
  position: relative;
  background-color: white;
  margin: auto;
  border-radius: 20px 20px 20px 20px;
  width: 90%;
  height: 90%;
  margin-bottom: 2em;

  
 
}
.restaurants__card__image img {
  position: absolute;
  margin:auto;
  z-index: 1;
}

.restaurants__card__image2 img {
  position: absolute;
  z-index: 1;
  max-height: 250px;
  margin-left: auto;
  margin-right: auto;
}

.restaurants__card img {
  position: relative;
  height: 55%;
  width: 100%;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurants__card__nouveau {
  position: absolute;
  top: 2px;
  right: 18px;
  width: 3em;
  height: 2em;
  z-index: 2;
  font-size: 200%;
  
}
.restaurants__card__nouveau__texte {
  font-size: 0.6em;
  text-align: center;
  width: 5em;
  height: 2em;
  line-height: 2em;/*doit etre de la meme grandeur que height pour centre verticalement*/
  background-color: $colour-tertiaire;
  color: darken($colour-tertiaire, 40);
  font-weight: bold;
  border-radius: 6%;
}
.restaurants__bas {
  display: flex;
  flex-direction: row;
  margin-top: 0em;
  height: 25%;
  width: 95%;

  margin: auto;
}
.restaurants__bas__gauche {
  width: 79%;
}
.restaurants__bas__coeur {
  width: 19%;
}

.fa-list-ul,
.fa-mobile-alt {
  font-size: 2em;
  color: lighten($colour-footer, 20%);
}

.fa-store {
  color: $colour-primary;
  font-size: 2em;
}
.fa-heart {
  font-size: 1em;
}

.header__img--menu {
  z-index: 1;
  max-height: 250px;
  width: 100%;
  margin: 0 0;
  padding: 0 0;
 background-color: $colour-bordure1;
}

.header__titre {
  z-index: 2;
  top: 8em;
  border-radius: 2em 2em 0 0;

  margin-top: -1.8em;
  padding-top: 1em;
  background-color: $colour-plat__card;

  width: 100%;
}
.header__img--box {
  display: flex;
  flex-direction: column;
}
main {
  text-align: left;
}
.fa-arrow-left {
  position: absolute;
  top: 1.5em;
  left: 0.5em;
  font-size: 1.5em;
}

.hautmenu {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
  padding: 0.1em;
  margin:0;
}

.carrevert {
  height: 0.3em;
  width: 3.5em;
  background-color: $colour-tertiaire;
  margin-left: 1.8em;
  margin-bottom: 0.5em;
}

.plat__card {
  border-radius: 20px;
  text-align: left;
  padding: 0;
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  box-shadow: 3px 3px 3px $colour-footer;
  background-color:$colour-plat__card--fond;
  display:flex;
  flex-direction: row;
  align-items: stretch ;
  
  
}

.main__menu{

 margin-top: -1.4em;
 background-color: $colour-plat__card;
}
.espace__gauche_titre_H2{
  margin-left: 1.3em;
}
.main__menu__argent{
  right: 1em;
  font-weight: bold;
  padding-right: 1.8em;
  flex:1;
}





.overflow-ellipsis {
  text-overflow: ellipsis;
}

.plat__card__p{

  display:flex;
  direction: row;
  overflow: hidden;

}

 
  
.plat__card__p p{
  padding: 2px 5px;
 /* Nécessaires pour overflow-ellipsis */
  white-space: nowrap;
  overflow: hidden;
  
}

  .plat__card__p h2{

  padding: 2px 5px;
 /* Nécessaires pour  overflow-ellipsis */
  white-space: nowrap;
  overflow: hidden;
  
}
.point{
  flex:90;
  overflow: hidden;
}
.point2{
  overflow: hidden;
}



.fonctionnement h1{
  margin-left: 1em;
 
 }
 .restaurants h1{
   margin-left:1em;
 }

 .roboto--font{

margin:0;
width: 100%;
height: 100%;
box-shadow: 0em 0.15em 0.1em $colour-bordure1;
 }
 
 





 .colonne{
  display: flex;
  flex-direction: column;
  flex:1;
 text-align: left;
 padding: 0;
 width: 90%;
 margin: auto;
 display:flex;
}

.plat__card:hover .animation__essai{
  display: block;
}

 .animation__essai {
  
  margin-left: 50px;
  width: 200px;
  background-color: $colour-tertiaire;
  animation: essai__animation 5s infinite alternate;
  border-radius: 0 20px 20px 0;
  display: none;
}
 
@keyframes essai__animation {
  0%  {
    
    
    width: 0px;
  }
  25%  {
   
    
    width: 25px;
    
  }
  50%  {
    
   
    width: 50px;
    
  }
  75%  { 
    
  
    width: 75px;
  }
  100% {  
   
  
    width: 100px;
  }
}

