* {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

.roboto--font {
  font-family: "Shrikhand", cursive;
  font-weight: bold;
}

.header__bas {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  text-align: center;
}

.header__milieu {
  box-shadow: 0px -4px 3px #d5d5d5;
  display: flex;
  flex-direction: column;
  background-color: #eaeaea;
  text-align: center;
}

.header__bas__btn {
  background: linear-gradient(160deg, #ff79da, #9356dc);
  color: white;
  border-radius: 50px;
  text-align: center;
  width: 75%;
  margin: auto;
  margin-bottom: 20px;
}

.header__milieu p {
  font-weight: bold;
  font-size: 1.4em;
}

.header__bas p {
  font-size: 1.4em;
}

.logo {
  margin-top: 1em;
  margin: auto;
  border: blue 1px solid;
}

.fa-map-marker-alt {
  font-size: 1em;
  /*taille icone de recherche*/
}

footer {
  margin: 0 0 0 0;
  height: auto;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 1em 2em;
  background-color: #353535;
  color: white;
  margin: 0;
  text-align: left;
  line-height: 0.8px;
}

footer a {
  color: white;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
}

.restaurants {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
}

.fa-utensils {
  font-size: 0.8em;
  /*taille icone foucherte */
}

.fa-hands-helping {
  font-size: 0.8em;
  /*taille icone partenaire */
}

.Fonctionnement {
  display: flex;
  display: block;
  flex-direction: column;
  text-align: center;
}

.Fonctionnement__btn {
  border-radius: 25px;
  text-align: center;
  width: 80%;
  margin: auto;
  margin: 20px 20px;
  padding: 2em;
  margin-bottom: 20px;
  box-shadow: 2px 2px 2px #eaeaea;
  display: flex;
  flex-direction: row;
}

.Fonctionnement__btn-color {
  background: #f7f7f7;
}

.Fonctionnement__btn-color2 {
  background: #f2eafb;
}

.Fonctionnement__btn_chiffre {
  background-color: #6023a9;
  padding: 1em;
  border-radius: 50%;
  color: white;
}

.fonctionnement__btn-placement {
  position: absolute;
  left: -3em;
}

.fas fa-list-ul {
  border: solid 2px purple;
}

.Fonctionnement__btn p {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 90%;
  margin: auto;
}

.Fonctionnement__btn_chiffre {
  height: auto;
}

.fa-mobile-alt {
  font-size: 2em;
}

.restaurants__card {
  position: relative;
  height: 430px;
}

.restaurants__card__image img {
  position: absolute;
  z-index: 1;
}

.restaurants__card__image2 img {
  position: absolute;
  z-index: 1;
  max-height: 250px;
}

.restaurants__card img {
  position: relative;
  height: 55%;
  width: 95%;
  margin-top: 0em;
  margin-bottom: 0em;
  padding: 0;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  border: solid black 1px;
}

.restaurants__card__nouveau {
  position: absolute;
  top: 2px;
  right: 20px;
  width: 5em;
  height: 2em;
  z-index: 2;
  font-size: 200%;
}

.restaurants__card__nouveau__texte {
  font-size: 1em;
  width: 10;
  height: 10;
  background-color: #99e2e0;
  color: #278886;
  font-weight: bold;
  border-radius: 4%;
}

.restaurants__bas {
  display: flex;
  flex-direction: row;
  margin-top: 0em;
  height: 25%;
  width: 95%;
  border: solid purple 2px;
  margin: auto;
}

.restaurants__bas__gauche {
  border: solid blue 1px;
  width: 79%;
}

.restaurants__bas__coeur {
  border: solid yellowgreen 1px;
  width: 19%;
}

.fa-list-ul,
.fa-mobile-alt {
  font-size: 2em;
  color: #686868;
}

.fa-store {
  color: #9356dc;
  font-size: 2em;
}

.fa-heart {
  font-size: 1em;
}

.header__img--menu {
  z-index: 1;
  max-height: 250px;
  width: 100%;
  border: solid black 2px;
  margin: 0.2em 0;
}

.header__titre {
  z-index: 2;
  top: 8em;
  border-radius: 2em 2em 0 0;
  margin-top: -1.8em;
  padding-top: 1em;
  background-color: white;
  width: 100%;
}

.header__img--box {
  display: flex;
  flex-direction: column;
}

main {
  text-align: left;
}

.fa-arrow-left {
  position: absolute;
  top: 1.5em;
  left: 0.5em;
  font-size: 1.5em;
  border: solid red 2px;
}

.hautmenu {
  display: flex;
  flex-direction: row;
  border: yellowgreen 2px solid;
  justify-content: center;
  align-items: center;
  padding: 0.1em;
}

/*# sourceMappingURL=style.css.map */
