* {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

.roboto--font {
  font-family: "Shrikhand", cursive;
}
