$colour-primary: #9356dc;
$colour-secondary: #ff79da;
$colour-tertiaire: #99e2e0;
$colour-bordure1: #d5d5d5;
$colour-nuancefonce: #eaeaea;
$colour-nuanceclair: #f6f6f6;
$colour-footer: #353535;
$colour-plat__card: #f6f6f6;
$colour-plat__card--fond: #ffffff;
$colour-primary2: rgba(147, 86, 220, 0.2);
$colour-primary5: rgba(147, 86, 220, 0.5);
$colour-primary7: rgba(147, 86, 220, 0.7);
$colour-secondary2: rgba(255, 121, 218, 0.2);
$colour-secondary5: rgba(255, 121, 218, 0.5);
$colour-secondary7: rgba(255, 121, 218, 0.7);
