footer {
  margin: 0 0 0 0;
  height: auto;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 1em 2em;
  background-color: $colour-footer;
  color: white;
  margin: 0;
  text-align: left;
}
footer a {
  color: white;
  text-decoration: none;
  background-color: $colour-footer;
}
footer p {
  line-height: 0.5px;
  font-size: 1.4em;
}
footer h1 {
  font-size: 1.5em;
  color: white;
  text-decoration: none;
  margin: 0 0 0 0;
  background-color: $colour-footer;
  top: 10em;
  bottom: 20em;
}
