.header__bas {
  display: flex;
  flex-direction: column;
  background-color: $colour-nuanceclair;
  text-align: center;
}

.header__milieu {
  flex-direction: column;
  text-align: center;
  background-color: $colour-nuancefonce;
  padding: 0.01em;
  height: 100%;
}

.header__bas__btn {
  background: linear-gradient(160deg, $colour-secondary, $colour-primary);
  color: white;
  border-radius: 50px;
  text-align: center;
  width: 75%;
  margin: auto;
  margin-bottom: 20px;
}

.header__milieu p {
  font-weight: bold;
  font-size: 1.4em;
  color: $colour-footer;
}
.header__bas p {
  font-size: 1.4em;
}

.logo {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
  padding: 0.1em;
}

.fa-map-marker-alt {
  font-size: 1em; /*taille icone de recherche*/
}
